:root{
    --maincolour : #333D79FF;
    --lightcolour: #FAEBEFFF;
}


body{
    font-family: 'Roboto', sans-serif;
    color: var(--lightcolour) !important;
    background-color: var(--maincolour) !important;
}

.customnav{
    background-color: var(--maincolour)!important;
    color: white !important;
}

.test{
    border: 1px solid white !important;
}

.accentbox{
    color:  var(--maincolour);
    background-color: var(--lightcolour);
}

.custombutton{
    border: 3px solid var(--lightcolour) !important;
    border-radius: 25px;
    text-align: center !important;
    transition: 0.5s;
}

.custombutton:hover{
    background-color: var(--lightcolour) ;
    color: black;
    transition: 0.5s;
}

.activebutton{
    background-color: var(--lightcolour) ;
    color: black;
    transition: 0.5s;
}

.cardstyle{
    border: 3px solid var(--lightcolour) !important;
    border-radius: 25px;


}

.whitebg{
    background-color: var(--lightcolour);
    color: black;
}

.specialicon{
    opacity: 0.5;
    transition: 0.5s;
    height: 100%;
}

.specialicon:hover{
    opacity: 1;
    transition: 0.5s;
}

.ender{
height: 100px;
opacity: 0.7;
font-size: smaller;
}
