.top{
    width:100%;
    height:150px;
    background-color: #002366;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
}

.blue{
    background-color: royalblue;
}

.center{
    width:60%;
    height:auto;

    display: flex;
    align-items: center;
    justify-content: space-between;



    box-sizing: border-box;
}

.centermid{
    width:60%;
    height:auto;

    display: flex;
    align-items: center;
    justify-content: center;



    box-sizing: border-box;
}

.container-horizontal{
    width:auto;
    height:auto;


    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
}

.container-horizontal-body{
    width:auto;
    height:auto;


    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
}

.container-horizontal-mid{
    width:100%;
    height:auto;


    display: flex;
    align-items: center;
    justify-content: space-evenly;

    box-sizing: border-box;
}

.container-horizontal-link{
    width:auto;
    height:auto;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
}

.container-vertical{
    width:auto;
    height:auto;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
}
.container-vertical-mid{
    width:auto;
    height:auto;

    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    box-sizing: border-box;
}


.container-item{
    width: auto;
    height: auto;
    
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.dropdown {
    position: relative;
    display: none;
  }

  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    right:0;
    z-index: 1;
  }
  
  .experimentdrop{
    background-color: #002366;
    width: auto;
    height: 400px;
    margin-top:-330px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;

    transition: 1s ease;
  }

  .experimentdrop:hover{
      margin-top:0;
      transition: 2s ease;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

/* Font Type*/
.white{
    color: white;
}

.black{
    color: black;
}

.bold{
    font-weight: bold;
}

.large{
    font-size: 2rem;
}

.standard{
    font-size: 1rem;
}

.container-horizontal-mid a{
    transform: scale(1);
    transition:  1s ease;
}
/*hover section*/
.container-horizontal-mid a:hover{
    transform: scale(1.2);
    transition:  1s ease;
    text-decoration: none;
}

/* when screen is small */
@media only screen and (max-width: 1200px) {
    .dropdown {
        display: inline-block;
    }
    .container-horizontal-link {
        display: none;
    }
    .center{
        width: 90%;
    }
    .centermid{
        width: 90%;
        flex-direction: column;
    }
    .container-vertical-mid{
        align-items: center;
    }
}

@media only screen and (max-width: 420px) {
    .container-horizontal img{
        display: none;
    }

    .container-horizontal-mid{
  
        flex-wrap: wrap;
    }
    .container-horizontal-body img{
        transform: scale(0.8);
    }
}
